*venv
*env
logs/server.log
*__pycache__
*.pyc
*.pyo
logs/*
models/deepseek/
dataset/artificial_generated_turkish/dev
dataset/artificial_generated_turkish/train
dataset/artificial_generated_turkish/test
dataset/artificial_generated_turkish.zip